.outer {
    background-color: var(--Very-dark-blue-card--BG);
    width: 350px;
    height: 580px;
    border-radius: 15px;
    margin: auto 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-cont {
        height: 93%;
        width: 90%;

        &__img, &__desc {
            width: 100%;
        }

        &__img {
            background-image: url("../images/image-equilibrium.jpg");
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            height: 55%;
            overflow: hidden;
            
            &-overlay {
                background-color: var(--Cyan);
                opacity: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__desc {
            height: 45%;

        }

        &__desc {
            h3 {
                padding-top: 1.1rem;
                color: var(--White);
                font-weight: 600;
                font-size: 1.1rem;
            }
            p {
                margin-top: 1rem;
                font-size: 0.9rem;
                font-weight: 200;
                line-height: 1.5rem;
                color: var(--Soft-blue);
            }
            &-updates {
                margin-top: 1.2rem;
                padding-bottom: 1.6rem;
                border-bottom: 1px solid var(--Very-dark-blue-line);
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-rate, &-time {
                    display: flex;
                    font-size: 0.9rem;
                    img {
                        margin-right: 10px;
                        height: 20px;
                    }
                }
                &-rate {
                    color: var(--Cyan);
                }
                &-time {
                    color: var(--Soft-blue);
                }
            }
            // creator section styling
            &-creator {
                width: 100%;
                padding: 20px 0;
                display: flex;

                #avatar{
                    background-image: url("../images/image-avatar.png");
                    background-position: center;
                    background-size: cover;
                    border: 1px solid var(--White);
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }
                p { margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 15px;
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: var(--Soft-blue);
                    span {
                        color: var(--White);
                    }
                }
            }
        }
    }
}