@use '../util/' as util;
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: util.$font;
  display: grid;
  justify-content: center;
  background-color: var(--Very-dark-blue-main--BG);
  position: relative;
}